@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Jura:wght@400;700&display=swap');

.logo {
    width: 150px;
}
.body1 {
    display: flex;
    justify-content: center;
    height: 844px;
    font-family: Bad Script;
    background-color: #F3EFE5;
    color: #C1694F;
}
.body {
    width: 320px;
    margin: auto;
    font-family: Bad Script;
    background-color: #F3EFE5;
    color: #C1694F;
}
header {
    font-family: Jura;
}
.head {
    background-color: antiquewhite;
    padding: 20px;
    width: 100px;
}
.parus {
    padding: 20px;
    background-color: antiquewhite;
    border: 2px dashed;
    margin: 15px;
}
